player-connection-mode=Listen
player-connection-guid=3200925345
player-connection-debug=0
player-connection-project-name=Tower defense 2D
player-connection-ip=192.168.1.102
player-connection-ip=192.168.44.1
player-connection-ip=192.168.206.1
player-connection-ip=10.102.37.150
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
